body {
    margin: 0;
    background-color: rgb(201, 232, 246);
}


.container {
    font-family: 'Lato', sans-serif;
    display:flex;
    flex-direction: column;
    margin: auto;
    min-width: 90%;
}

.category-list {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    width: auto;
    height: auto;
    margin: auto;
    background-color: rgb(217, 232, 240);
}

.category-name {
    font-family: 'Lato', sans-serif;
    letter-spacing: .2rem;
    display: flex;
    width: 200px;
    border-radius: 5%;
    cursor: pointer;
    justify-content: center;
    justify-self: left;
}