.container {
    display:flex;
    flex-direction: column;
    margin: auto;
    max-width: 50%;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    justify-content: space-around;
}

.category-name {
    border: solid 2px black;
    float:right;
    position: relative;
    cursor: pointer;
}