body {
    margin: 0;
}

h1 {
    margin-left: 2%;
}

.container {
    display:flex;
    flex-direction: column;
    margin: auto;
    min-width: 80%;
}

.category-list {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    width: auto;
    height: auto;
    margin: auto;
    background-color: aquamarine;
}

.category-name {
    display: flex;
    width: 200px;
    border: solid 2px black;
    border-radius: 5%;
    cursor: pointer;
    justify-content: center;
    justify-self: left;
}